node_modules/
*.js
*.js.map
.arcconfig
.taskkey
*.vsix
*.sef.json
### VS Code
.vscode

### IntelliJ IDEA ###
.idea

### jasmine-reporters ###
!/spec/support/jasmine.js
/test-reports

### thrid party libs ###
/scripts/temp
/PublishParasoftTestResults/lib