node_modules/
*.js
*.js.map
.arcconfig
.taskkey
*.vsix
*.sef.json
/coverage
/.nyc_output
### VS Code
.vscode

### IntelliJ IDEA ###
.idea

### Eslint report ###
/eslint

### jasmine-reporters ###
!/spec/support/jasmine.js
/test-reports

### thrid party libs ###
/scripts/temp
/PublishParasoftResults/lib/net47
/PublishParasoftResults/lib/netcoreapp2.0